<a href="https://colab.research.google.com/github/Shivani-781/data-science-resources/blob/collab-week-1/week_1/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "MAD"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-MAD
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data", "Science", "Mentorship", "Program", sep="-", end="-")
print("By", "MAD", sep="-")

Data-Science-Mentorship-Program-By-MAD

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [4]:
# Write your code here
degree_c = float(input("Enter Degree in Celcius: "))
degree_f = (9/5 * degree_c) + 32
print('The degree in Fahrenheit is: %.2f ' %(degree_f))

Enter Degree in Celcius: -40
The degree in Fahrenheit is: -40.00

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
# Write your code here
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
c = a
a = b
b = c
print("After Swapping")
print("First Number: ", a)
print("Second Number: ", b)

Enter First Number: 2
Enter Second Number: 3
After Swapping
First Number:  3
Second Number:  2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [15]:
# Write your code here
x1, y1 = map(float, input("Enter the First Point's Coordinates separted by comma: ").split(","))
x2, y2 = map(float, input("Enter the Second Points' Coordiantes separated by comma: ").split(","))
d = ((x2-x1)**2 + (y2-y1)**2)**0.5
print("The Euclidean Distance is: %.2f" %(d))

Enter the First Point's Coordinates separted by comma: 13,24
Enter the Second Points' Coordiantes separated by comma: 3,5
The Euclidean Distance is: 21.47

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [16]:
# Write your code here
p = float(input("Enter the Principle Amount: "))
r = float(input("Enter the Rate of Interest: "))
t = float(input("Enter the Time Period: "))
si = (p*r*t)/100
print("The Simple Interest is: %.2f" %(si))

Enter the Principle Amount: 1000
Enter the Rate of Interest: 6
Enter the Time Period: 1
The Simple Interest is: 60.00

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [17]:
# Write your code here
heads = int(input("Enter the Number of Heads: "))
legs = int(input("Enter the Number of Legs: "))
chickens = (4 * heads - legs) / 2
dogs = heads - chickens
print("Number of Chickens: ", int(chickens))
print("Number of Dogs: ", int(dogs))

Enter the Number of Heads: 4
Enter the Number of Legs: 12
Number of Chickens:  2
Number of Dogs:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [19]:
# Write your code here
n = int(input("Enter the Number: "))
sum = 0
for i in range(1, n+1):
    sum += i**2
print("The Sum of Squares of First %d Natural Numbers is: %d" %(n, sum))

Enter the Number: 5
The Sum of Squares of First 5 Natural Numbers is: 55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [20]:
# Write your code here
a = int(input("Enter the First Term: "))
b = int(input("Enter the Second Term: "))
n = int(input("Enter the Nth Term: "))
d = b - a
nth_term = a + (n-1)*d
print("The %dth Term of the Arithmetic Series is: %d" %(n, nth_term))

Enter the First Term: 1
Enter the Second Term: 4
Enter the Nth Term: 5
The 5th Term of the Arithmetic Series is: 13

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [21]:
# Write your code here
a, b = map(int, input("Enter the First Fraction: ").split("/"))
c, d = map(int, input("Enter the Second Fraction: ").split("/"))
s = a*d + b*c
d = b*d
print("The Sum of the Fractions is: %d/%d" %(s, d))

Enter the First Fraction: 3/4
Enter the Second Fraction: 1/2
The Sum of the Fractions is: 10/8

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [23]:
# Write your code here
H, L, B = map(float, input("Enter the Dimensions of the Milk Tank: ").split(","))
h, r = map(float, input("Enter the Dimensions of the Glass: ").split(","))
vol_tank = H*L*B
vol_glass = 3.14*(r**2)*h
print("Number of Glasses: ", int(vol_tank/vol_glass))

Enter the Dimensions of the Milk Tank: 3,4,5
Enter the Dimensions of the Glass: 1,2
Number of Glasses:  4