<a href="https://colab.research.google.com/github/Shivani-781/data-science-resources/blob/collab-week-1/week_1/week_1_basics_of_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topics to be Covered


*   About Python
*   Data Types
*   Variables
*   Comments
*   Keywords
*   Identifiers
*   User Input
*   Type Conversion
*   Literals
*   If/Else Statements

# About Python

Python is a powerful, beginner-friendly programming language known for its readability and simplicity.

It was created by Guido van Rossum, and first released on February 20, 1991.

> **Fun Fact**: *Python is named after Monty Python's Flying Circus, not the snake!*

Python is an **interpreted** language.
In an interpreted language, the code is translated into machine-readable instructions at runtime, line by line, by an interpreter. This immediate execution makes it flexible for development and debugging but generally slower than pre-compiled code.
In a compiled language like C, the entire code is translated into machine code before execution, producing an executable file. This process happens only once, making it faster during runtime but requiring additional steps in development.



**What makes Python so popular?**



*   **Design Philosophy** - Simple structure, easy to learn, well-indented, and readable; Python is beautiful and welcoming.
*   **Batteries Included** - Built-in datatypes come with useful functions like reverse(), len(), membership operators, etc.
*   **General Purpose** - Supports various paradigms, like POP, OOP, and is widely used in data science, web development, etc.
*   **Libraries/Community** - Vast open-source libraries and a strong, supportive community.


**Why Python for Data Science?**



*   **Easy to Learn** - Python's simplicity makes it accessible for those from non-programming backgrounds, allowing mathematicians and domain experts to convert algorithms into code more easily than in other languages
*   **Math-Friendly Libraries** - Libraries like SciPy and NumPy are specifically designed for mathematical and scientific computations, making Python a natural fit
*   **Strong Community** - A rich ecosystem of libraries (Pandas, Matplotlib, Scikit-learn, and more) and a supportive community make Python the go-to language for data science.

In [ ]:
# Python is a case sensitive language i.e. 'Print' & 'print' are different
print('Hello World')

Hello World

In [ ]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-2-6135c6da936c>, line 1)

In [ ]:
# Default separator is space (' ')
print('Hello',1,6.5,True)

Hello 1 6.5 True

In [ ]:
print('Hello',1,6.5,True,sep=',')

Hello,1,6.5,True

In [ ]:
# Default end behavior is \n (new line)
print('hello')
print('world')

hello
world

In [ ]:
print('hello',end=' ')
print('world')

hello world

# Data Types

Integer, Float, Boolean, String, Complex number, List, Tuple, Set, Dictionary, None

In [ ]:
# Integer
print(8)
# 1*10^308
print(1e308)
print(1e309) # Considers number greater than 1*10^308 as infinite

8
1e+308
inf

In [ ]:
# Decimal/Float
print(8.55)
print(1.7e308)
print(1.7e309) # Considers decimals greater than 1.7*10^308 as infinite

8.55
1.7e+308
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text/String
print('Hello World')

Hello World

In [ ]:
# complex
print(5+6j)

(5+6j)

In [ ]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'Alex','gender':'Male','weight':60})

{'name': 'Alex', 'gender': 'Male', 'weight': 60}

In [ ]:
# type
type([1,2,3])

list

# Variables

Variable are like containers where we can store any information for future use.

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
# C/C++

# int numb = 5

# Python - No pre-declaration needed
name = 'alex'
print(name)

a = 5
b = 6

print(a + b)

alex
11

In [ ]:
# Dynamic Typing
a = 5
# Static Typing
int a = 5

In [ ]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding - cannot change the data type further in the program
int a = 5

5
nitish

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

5 5 5

# Comments

Comments are pieces of text that are not executed by the interpreter but is added to provide additional information about the code.

In [8]:
# This is the first comment
a = 5
b = 6 # this is also a comment
# Print the sum
print(a+b)


# While Python doesn’t have a specific syntax for multiline comments,
# using triple quotes achieves a similar effect like below,
# as the interpreter ignores the enclosed text.
# As per the PEP8 guideline, we can comment multiple lines
# using '#' like this whenever needed as
# only single-line comment is supported in python.

'''
This triple-quote can be used as a
multi-line comment in Python as far as this
is not being assigned to a variable.
'''

11

'\nThis triple-quote can be used as a\nmulti-line comment in Python as far as this\nis not being assigned to a variable.\n'

# Keywords

Compilation/Interpretation - converting code which is in high-level language (english-like language that we write it in) to binary language which the machine understands.
Compiler does this in one-go (Java, C, C++) whereas Interpreter does it line-by-line (Python, PHP)

To do this, there are some words reserved by the compiler/interpreter that helps them in decoding the code. In python, there are around 35 keywords - https://docs.python.org/3/reference/lexical_analysis.html#keywords

# Identifiers

An Identifier is a name given to any variable, user-defined function, class, etc. in a program. Below are the rules for identifiers:


*   It can't start with a digit like `1name = 'Alex'`
*   It can have lowercase, uppercase characters but in special characters only underscore is allowed. `first-name = 'Alex'` will throw an error. `_ = 'Alex'` will work fine.
*   It cannot be a reserved word (keyword)

# User Input

Static Softwares don't require any interaction with the users (Clock, Calendar, Blog, Informative websites) whereas Dynamic Softwares needs inputs from the users (Youtube, Calculator, Google Chrome).

In [10]:
input() # Here we're not specifying what is expected as an input

Hola!

'Hola!'

In [11]:
input("Please enter your name: ")

Please enter your name: Alex

'Alex'

In [14]:
# Take 2 numbers as an input from the user and output the sum.
a = int(input("Enter first number: ")) # default type of input is string as string is a universal format, convert it
b = int(input("Enter second number: "))
print(f"The sum of the two numbers is: {a + b}")

Enter first number: 5
Enter second number: 5
The sum of the two numbers is: 10

# Type Conversion

Converting from one type to another. It doesn't change the actual data held by the variable, it creates a new value with the specified type (no in-place conversion). Two ways:


*   Implicit type conversion - done by interpreter

*   Explicit type conversion - done by the programmer

**Note:** In python, we have type conversion, while in other languages we have type-casting. In type-casting, values get modified in-place, so where ever the type-casted variable is used further in the program, it will have the new type, contrary to what happens in type conversion.

In [17]:
# Implicit type conversion
print(5+5.6) # Output: 10.6
print(type(5), type(5.6)) # int + float, but output is in float
print(type(5+5.6))

10.6
<class 'int'> <class 'float'>
<class 'float'>

In [18]:
# The above doesn't hold true for all scenarios
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
# Explicit type conversion

# int -> str
print(str(4) + '4')

# str -> int
print(4 + int('4'))

# str to float
print(float('4'))

44
8
4.0

In [23]:
# The above doesn't hold true for all scenarios either
print(int(4+5j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# Literals

Literals are the raw values that are stored in the variables.
In `a = 2`, `a` is variable, `=` is an operator and `2` is the literal.

In [32]:
# Binary literal
a = 0b1010
print(a)

# Decimal literal
b = 100
print(b)

# Octal literal
c = 0o310
print(c)

# Hexadecimal literal
d = 0x12c
print(d)

# Float literal
e, f, g = 10.5, 1.5e2, 1.5e-3
print(e, f, g)

# Complex literal
h = 3.14j
print(h, h.imag, h.real)

# String literal
i = 'This is in single quotes'
j = "This is in double quotes"
k = """
    This is a multi-line string
    written in triple quotes.
    """
l = 'X'
print(i, j, k, l, sep='\n')

m = u"\U0001f600\U0001F606"
n = r"raw \n string"
print(m, n, sep='\n')

# Boolean literal
o = True + 4
p = False + 10
print(o, p)

# None literal (There's no variable declaration, we can assign None to a var)
q = None
print(q)

10
100
200
300
10.5 150.0 0.0015
3.14j 3.14 0.0
This is in single quotes
This is in double quotes

    This is a multi-line string
    written in triple quotes.

X
😀😆
raw \n string
5 10
None